*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.uoqmunthenkhung-regular {
    font-family: "UoqMunThenKhung", serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --white-color : #fff;
    --black--color : #140a00;
    --grey--color : #676767;
    --yellow--color : rgb(246, 210, 51);
    --side--padding : 30px;
}

body {
    font-family: Public Sans;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.cursorItem {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    pointer-events: none;
    mix-blend-mode: difference;
}

.cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 50%;
    margin: -60px -60px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

ul{
    list-style: none;
}

li{
    float: left;
}

.main{
    background-image: url(image/image1.jpg);
    background-size: cover;
}

.contain_menu{
    position: fixed;
    mix-blend-mode: difference;
}

header{
    width: auto;
    padding: var(--side--padding);
    transition: all 0.6s ease-out;
    opacity: 0;
}

header.visible{
    opacity: 1;
}

.logo{
    height: 100%;
    color: var(--white-color);
    margin: 20px var(--side--padding);
    font-size: 40px;
    animation: fadeInLeft 3s;
    -webkit-animation: fadeInLeft 3s;
    animation-delay: 1s;
    position: fixed;
}

.contain_menu .under{
    color: var(--white-color);
    position: fixed;
    margin: 20px var(--side--padding);
    font-size: 32px;
    right: 0;
}

.contain_menu .under li{
    margin-right: 40px;
}

a{
    text-decoration: none;
}

.contain_menu .under li a{
    display: block;
    color: var(--white-color);
}

.contain_menu .under li:hover > a{
    color: var(--yellow--color);
}

.data{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.data .hello .info{
    display: flex;
    line-height: 1.4;
    height: auto;
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--grey--color);
}

.menu {
    animation: fadeInRight 3s;
    -webkit-animation: fadeInRight 3s;
    animation-delay: 1s;
}

.hello{
    font-size: 72px;
    color: var(--white-color);
    width: 100%;
    justify-content: center;
    text-align: center;
    animation: fadein 2s;
    animation-delay: 0.5s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.data .click_button{
    margin-top: 600px;
}

.click_button a:hover > span{
    color: var(--yellow--color);
}

.aa:hover{
    color: var(--yellow--color);
    box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
}

.data .click_button .down{
    color: var(--white-color);
    font-size: 26px;
}

.writeF{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 200px;
}

.writeF h2{
    color: white;
    font-size: 48px;
}

#writeForm{
    color: white;
    font-size: 40px;
    margin-top: 20px;
}

.writeF div input{
    outline: none;
    width: 50%;
    height: 80px;
    background-color: black;
    border: 0;
    border-bottom: white solid 1px;
    color: white;
    font-size: 24px;
}

.writeF div input::placeholder {
    color: white;
}

.writeF div input:focus{
    outline: 2px solid #d5ca00;
    border-bottom: #d5ca00 solid 2px;
}

.writeF div textarea{
    width: 50%;
    margin-top: 20px;
    padding-top: 20px;
    height: 200px;
    font-size: 24px;
    background-color: black;
    border: none;
    border-bottom: white solid 1px;
}

.writeF div textarea:focus{
    outline-color: #d5ca00;
}

.writeF div textarea::placeholder{
    color: white;
}

.writeBtn{
    border: 2px solid white;
    width: 200px;
    height: 50px;
    color: black;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
}

.writeBtn:hover{
    background-color: black;
    color: white;
}

.backBtn{
    border: 2px solid white;
    width: 200px;
    height: 50px;
    color: black;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
}

.backBtn:hover{
    background-color: black;
    color: white;
}

.inputBtn{
    border-radius: 20px;
    width: 200px;
    height: 40px;
    border: 2px solid white;
    background-color: black;
    color: white;
}

#back {
    border-radius: 20px;
    width: 200px;
    height: 40px;
    border: 2px solid white;
    background-color: black;
    color: white;
}

